body{
    background: #F5F6FA;
}

.cotainer{
    background: #d0d1d5;
}

.error{
    color: #9b0000;
    margin-top: 35px;
}

.modals{
    z-index: 1000;   
    position: fixed;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.text{
    color: black;
}

.texto{
    color: black;
}

/* loader */
body .spinner{
	background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: -45px;
    padding-bottom: 45px;
    /* -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box; */
    box-sizing: content-box;
}

body .spinner #loader{
	/* background: url(../img/loader.gif) center center no-repeat;
    height: 15px;
    width: 15px; */
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -25px 0 0 -25px;

	width: 70px;
	height: 70px;
	border: 10px solid #eee;
	border-top: 10px solid #666;
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }

  @keyframes girar {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
}


/* COLOR TABLA */

.green {
    background-color: #0080005c !important;
}

.blue {
    background-color: #0077ff45 !important;
}

/*.tamano{
    height: 360px;
    width: 640px:
}*/

.imgs{
    width: 100px;
}